<%= form_with(model: measured_ingredient) do |form| %>
  <% if measured_ingredient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(measured_ingredient.errors.count, "error") %> prohibited this measured_ingredient from being saved:</h2>

      <ul>
        <% measured_ingredient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :dish_id %>
    <%= form.text_field :dish_id %>
  </div>

  <div class="field">
    <%= form.label :ingredients_id %>
    <%= form.text_field :ingredients_id %>
  </div>

  <div class="field">
    <%= form.label :measurements_id %>
    <%= form.text_field :measurements_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
